$colorVariation: 10%;

$themeBg           : rgb(240, 240, 240);
$themeFg           : rgb( 31,  31,  31);
$themeText         : $themeFg;
$themeTextInverse  : $themeBg;
$themePrimary      : rgb(  0, 127, 255); /*darken(rgb(  0, 127, 255), $colorVariation);*/
$themePrimaryText  : $themeText;
$themeSecondary    : rgb(255, 127,   0); /*darken(rgb(255, 127,   0), $colorVariation);*/
$themeSecondaryText: $themeTextInverse;
$themeShadow       : rgb(255, 255, 255);
$positive          : rgb(  0, 191,   0);
$negative          : rgb(191,   0,   0);